.contact-for-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: black;
}

.contact-for-project h1{
    font-size: 90px;
    color: aliceblue;
    margin-top: 5%;
}

button {
margin-top: 20px;
font-size: 50px;
/* margin-bottom: 20px; */
}
  