.navbar {
    width: 100%;
    background-color: #030101; 
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;  
    margin: 0 auto;    
    padding: 0 20px;   
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(240, 232, 232);
  }
  
  .contact-button1 {
    background-color: #f8f3f3;
    color: #070303;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .contact-button:hover {
    background-color: #eaf3e8;
  }