.project-section {
    background-color: black;
    padding: 40px 0;
    /* width: 100vw; */
    /* border: 1px solid #fff; */
   
}

.project-heading {
    background-color: #0c0909;
    text-align: center;
    font-size: 6rem;
    color:#f8f5f5;
    text-align: left;
    margin-bottom: -0.5rem;
    padding-left: 180px;
}

.project-title {
    color: #ffffff;
    font-size: 1.8rem;
    margin-top: 20px;
}

.project-description {
    color: #cccccc;
    font-size: 1rem;
    margin-top: 10px;
}

.project-section img {
    margin-bottom: 20px;
}
