.custom-height{
    height: 490px;
}


/* .user-component-container {
    background-color: #f8f1f1; 
    color: rgb(3, 3, 3); }

.user-image {
    max-width: 100%; 
    height: auto;
    border-radius: 50%;
}

.user-title {
    font-size: 4rem;
}

.user-description {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.contact-button {
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #279659; 
} */
